<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.golf.studyremider" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Newsubject"
            android:label="@string/title_activity_newsubject" >
        </activity>
        <activity
            android:name=".remiderlist"
            android:label="@string/title_activity_remiderlist" >
        </activity>
        <activity
            android:name=".detail"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name=".add"
            android:label="@string/title_activity_add" >
        </activity>
    </application>

</manifest>
